body{
  background-image: url(assets/newback.jpg);
  margin: 0%;
  padding: 0%;
}
@font-face {
    font-family: utopiasemi;
    src: url(assets/font/UtopiaStd-BoldCaptIt.otf);
}
/* navigationsbar start */
nav{

    background-color: #ECECEC;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-areas: 
    'logo logotext hcasitting burgermenu'
    'logo logotext hcasitting burgermenu'
    '. . hcasitting .';
    grid-template-rows: 1fr 1.5fr 0.5fr;
    
}
.logo
{
    grid-area: logo;
    height: 80px;
}
.hcasitting{
    grid-area: hcasitting;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
}
.burgermenubillede{
    height: 30px;
    grid-area: burgermenu;
    margin-top: 25px;
}
h1{
grid-area: logotext;
margin-top: 18px;
margin-bottom: 20px;
margin-left: -15px;
font-family: utopiasemi;
font-size: 20px;
color: #2D2D33;


}
/* navigationsbar slut */
header{
background-image: url(assets/bannermobile.jpg);
height: 120px;
}

h2{
font-family: utopiasemi;
font-size: 18px;
text-align: center;
}

