body{
  background-image: url(assets/newback.jpg);
  margin: 0%;
  padding: 0%;
}
@font-face {
    font-family: utopiasemi;
    src: url(assets/font/UtopiaStd-BoldCaptIt.otf);
}
header{
background-image: url(assets/bannermobile.jpg);
height: 120px;
}
@media(min-width:768px){
  header{
    background-image: url(assets/bannerpc.jpg);
    height: 220px;
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
    }
}
  /* navbar 2.0 start */
.logo
{
    height: 60px;
}
.hcasitting{
    height: 100px;
    margin-bottom: -60px;
}
.crum{
  width: 90px;
  height: auto;
  opacity: 0;
  text-align: center;
}
li{
  list-style: none;  
}

a{
    color: #2D2D33;
    text-decoration: none;
    
}

.navbar{
    min-height: 70px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #ECECEC;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-family: utopiasemi;
    text-align: center;
}

.nav-link{
    text-align: center;
}

.nav-link:hover .crum{
  opacity: 1;
  transition: 1s;
}



.hamburger{
    display: none;
    cursor: pointer;
}
@media(max-width:768px){
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:#2d2d33;    
}


  .hamburger{
      display: block;
  } 
  
  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
  .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);      
}

.nav-menu{
    position:fixed;
    top: -70%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0%;
    flex-direction: column;
    background-color: #ECECEC;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in;
    margin: 0%;
}

.nav-menu.active{
    top: 0;
}}
/* navbar 2.0 slut */